.header {
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.input{
   padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
}

.icons {
  justify-content: flex-end;
}

.logo {
  height: 100px;
  margin-right: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-icon {
  font-size: 30px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px; 
}

.user-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(109,200,63,1);
  min-width: 100px;
  border-radius: 10px;
  
}

.dropdown-content a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}